{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
    <form method="post">
        <h1>Register now</h1>
        <label for="inputUsername">Username</label>
        <input type="text" placeholder="Username" name="username" id="inputUsername" class="form-input">
        <label for="">E-mail</label>
        <input type="text" placeholder="E-mail" name="email" id="inputEmail" class="form-input">
        <label for="inputPassword">Password</label>
        <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-input">
        <label for="descriptionArea">Description</label>
        <textarea name="description" placeholder="Profile description" id="descriptionArea"></textarea>
        <label for="profilePicFile">Profile picture</label>
        <input type="file" accept="image/jpeg" name="profilePicture" id="profilePicFile">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-lg btn-primary" type="submit">Register</button>
    </form>
{% endblock %}

{% block stylesheets %}
{% endblock %}