{% extends('base.html.twig') %}

{% block stylesheets %}
    {{ include('common.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="flex-col centered top-margined">
        <img src="{{ asset('media/images/successful_person.png') }}" alt="Successful confirmation" class="title-pic-sm">
        <h1 class="title text-center">Profile data confirmed</h1>
    </div>
{% endblock %}
