{% extends('base.html.twig') %}

{% block title %}About NewsPortal{% endblock %}
{% block stylesheets %}
    {{ include('common.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Congratulations! You've registered successfully</h1>
    <p>Hello {{ user.username }}. If you received this letter, it means that you successfully registered with the service</p>
    <p>There is one nuance remains - you should confirm your account. I's simple - just click on the link below.</p>
    <a href="{{ url('account_confirm', { 'user': user.id, 'code': code }) }}"><button type="submit" class="btn btn-primary btn-lg">Confirm</button></a>
    <p>We wish you pleasant emotions while using our service.<br>Your,<br>News portal team</p>
{% endblock %}