body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
}
.flex {
    display: flex;
}
.centered {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.content-container {
    width: 60%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 55px;
    font-weight: 700;
    margin-top: 20px;
}
.title-pic {
    width: 250px;
    height: 250px;
}
.title-pic-sm {
    width: 150px;
    height: 150px;
}
.pic-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 200px;
}
.sub-title {
    font-size: 22px;
    font-weight: 400;
    color: #515151;
    margin-top: 20px;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
    font-weight: 300;
    text-indent: 20px;
    color: #242424;
}
.bottom-margined30 {
    margin-bottom: 30px;
}
.top-margined {
    margin-top: 50px;
}
.btn-group {
    margin-left: 20px;
}
.text-center {
    text-align: center;
}
.pin-right {
    margin-left: auto;
}

.regform-box {
    max-width: 60%;
    margin-top: 60px;
    border: 2px solid #a4a4a4;
    border-radius: 10px;
    padding: 40px;
}

.split {
    width: 100%
}
.split + .split {
    margin-left: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.addnew-button {
    margin-left: auto;
}

#comment-container {
    width: 100%;
}

.comment-box {
    background-color: #e4f2fe;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}
.comment-metadata {
    color: #515151;
    font-size: 12px;
}

.fas {
    color: #515151;
}

.add-comment-btn {
    margin-left: auto;
}

.buttons-top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttons-top-row > .editComment {
    margin-left: auto;
}

#addCommentBox {
    display: none;
}

@media screen and (max-width: 1100px) {
    .regform-box {
        max-width: 80%;
        margin-top: 60px;
        border: 2px solid #a4a4a4;
        border-radius: 10px;
        padding: 40px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 24px;
    }
    .title-pic {
        height: 100px;
        width: 100px;
    }
    .title-pic-sm {
        height: 75px;
        width: 75px;
    }
    p {
        font-size: 14px;
    }
    .sub-title {
        font-size: 16px;
    }
    .content-container {
        width: 90%;
        padding-top: 30px;
    }
    .top-margined {
        margin-top: 20px;
    }
    .bottom-margined30 {
        margin-bottom: 20px;
    }
    .regform-box {
        max-width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #dcdcdc;
    }
    label {
        font-size: 12px;
    }
}