app_register:
    path: /register
    controller: App\Controller\RegistrationController::register
app_login:
    path: /login
    controller: App\Controller\SecurityController::login
app_logout:
    path: /logout
    controller: App\Controller\SecurityController::logout
about_page:
    path: /about
    controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
    defaults:
        template: 'static/about.html.twig'
        maxAge:    86400
        sharedAge: 86400
        private: true
account_confirm:
    path: /confirm/{user}/{code}
    controller: App\Controller\ConfirmationController::create
user_page:
    path: /user/{id}
    controller: App\Controller\UserpageController::display
author_request:
    path: /beauthor
    controller: App\Controller\AuthorRequestController::create
customize_page:
    path: /customize
    controller: App\Controller\FirstCustomizationController::customize
add_article_page:
    path: /article/add
    controller: App\Controller\AddArticleController::displayPage
article_page:
    path: /article/{id}
    controller: App\Controller\FullPageArticleController::displayPage
feed_page:
    path: /
    controller: App\Controller\StartpageController::display